body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 80%;
    max-width: 800px;
}

.section {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section2 {
    height: 195px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    font-size: 24px;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

ul {
    width: 100px;
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 5px 0;
    position: relative;
    font-weight: normal;
}

li:hover {
    font-weight: bold;
    cursor: pointer;
}

li::after {
    content: attr(data-description);
    display: none;
    font-style: italic;
    color: rgb(92, 92, 92);
    margin-left: 10px;
    position: absolute;
    top: 0;
    left: 100px;
    width: 640px;
    background-color: #F5F5F5;
    border-radius: 4px;
    padding: 5px;
}

li:hover::after {
    display: block;
}

.personal-li::after {
    content: attr(data-description);
    display: none;
    font-style: italic;
    color: rgb(92, 92, 92);
    margin-left: 10px;
    position: absolute;
    top: 0;
    left: 170px;
    width: 570px;
    background-color: #F5F5F5;
    border-radius: 4px;
    padding: 5px;
}

.personal-ul {
    width: 200px;
    list-style: none;
    padding: 0;
    margin: 0;
}